*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Times New Roman", Times, serif;

}

.box {
    width: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.info{
    text-align: justify;
    font-size: large;
}